@tailwind base;
@tailwind components;
@tailwind utilities;

.nunito-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nunito-bold {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Nunito", sans-serif;
  padding-top: 70px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}
